<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[cCoder.ClientRelationshipManagement]*</Include>
          <Exclude>[cCoder.ClientRelationshipManagement]*.Models.*,[cCoder.ClientRelationshipManagement]*.Brokers.*,[cCoder.ClientRelationshipManagement]*Broker</Exclude>
          <ExcludeByAttribute>CompilerGeneratedAttribute,GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/Migrations/**/*.cs,**/*.g.cs,**/*.g.i.cs,**/*.generated.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
